<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>add-tile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add-tile</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div class="add-tile-form">
    <label class="item item-input">
      <span class = "input-label">Label 1</span>
      <input type="text" placeholder="Wpisz nazwę nowej kafelki">
    </label>

    <label class="item item-input">
      <input type="text" placeholder="Wybierz piktogram">
    </label>
  </div> -->

  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label>Nazwa</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Ikona</ion-label>
        <ion-select formControlName="icon">
          <ion-select-option *ngFor="let icon of availableIcons" [value]="icon">
            <fa-icon [icon]="['fas', icon]"></fa-icon> {{icon}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="block">Dodaj</ion-button>
  </form>

</ion-content>
