<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-list lines="none" class="list">
      <ion-item class="list-item">
        <ion-input
          type="email"
          fill="solid"
          [label]="'AUTH.EMAIL' | translate"
          formControlName="email"
          [errorText]="'AUTH.EMAIL_INVALID' | translate"
          clearInput></ion-input>
      </ion-item>
      <ion-item class="list-item">
        <ion-input
          type="password"
          fill="solid"
          [label]="'AUTH.PASSWORD' | translate"
          [helperText]="'AUTH.PASSWORD_HINT' | translate"
          formControlName="password"
          [errorText]="'AUTH.PASSWORD_INVALID' | translate"
          clearInput>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-button
          type="submit"
          class="button"
          size="default"
          [disabled]="registerForm.invalid"
          >{{ 'AUTH.REGISTER' | translate }}</ion-button
        >
      </ion-item>
      <ion-item>
        <ion-button class="button" fill="clear" size="small" (click)="goToLogin($event)">{{
          'AUTH.ALREADY_HAVE_ACCOUNT' | translate
        }}</ion-button>
      </ion-item>
    </ion-list>
  </form>
</div>
