<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    @if (!isAuthenticated()) {
      <ion-tab-button tab="sign-in" href="/tabs/sign-in">
        <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
        <ion-label>{{ 'AUTH.SIGN_IN' | translate }}</ion-label>
      </ion-tab-button>
    } @else {
      <ion-tab-button tab="sign-out" (click)="logout()">
        <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
        <ion-label>{{ 'AUTH.SIGN_OUT' | translate }}</ion-label>
      </ion-tab-button>
    }
  </ion-tab-bar>
</ion-tabs>
