<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Historia utworzonych zdań </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let history of historyList">
      <ion-label>
        <div class="icons">
          <fa-icon *ngFor="let icon of history.selectedTiles.split(' ')" [icon]="['fas', icon]"></fa-icon>
        </div>
        <p class="sentence">{{ history.generatedSentence }}</p>
        <!-- <p class="date">{{ history.creationDate | date:'short' }}</p> -->
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content> -->
