<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'HISTORY.HISTORY_TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <div class="button-container"> 
      <ion-button *ngIf="selectedTile" shape="round" (click)="playSentence()" [disabled]="isPlayMode">{{ 'HISTORY.REPLAY_SENTENCE' | translate}}</ion-button>
    </div>
  </ion-fab>
  <div class="history">
    <ion-item-sliding *ngFor="let history of historyList" >
      <ion-item>
        <app-tile class="tile" [isSelected]="!!history.isSelected" [icon]="history.selectedTiles" [label]="history.generatedSentence" (click)="toggleTileSelection(history)"></app-tile>
      </ion-item>
  
      <ion-item-options>
        <ion-item-option (click)="handleDelete(history.generatedSentence)" color="danger"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-content>