@import '../../../../theme/variables.scss';

  .history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    ion-item {
      --background: #{$secondary-color};
      --border-radius: none;
      display: flex;
      align-items: center;
      justify-content: center;
      .tile {
        width: 100%;
      }
    }
  }

  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}
  