<ion-card [class.selected]="isSelected">
  <ion-card-content>
    <div class="icon">{{icon}}</div>
  </ion-card-content>

    <ion-footer>
      <div class="footer-content" [class.footer-padding]="!deletable">
        <div class="label">{{label | translate | uppercase}}</div>
        @if(deletable) {
          <ion-button shape="round" (click)="onDelete()">
            <ion-icon slot="icon-only" name="trash" size="small"></ion-icon>
          </ion-button>
        }
      </div>
    </ion-footer>
</ion-card>
