<ion-header>
  <ion-toolbar>
    <ion-title> {{ 'SENTENCE.CREATE_SENTENCE' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-alert
  [isOpen]="showPopup"
  [header]="'Wygenerowane zdanie'"
  [message]="generatedSentence"
  [buttons]="['OK']"
  (didDismiss)="showPopup = false"
></ion-alert> -->

<ion-content [fullscreen]="true" fixed-slot-placement="before">

  @if(tiles$ | async; as tiles) {
    <ion-fab horizontal="center" vertical="bottom" slot="fixed">
      <div class="button-container">
        <ion-button shape="round" (click)="generateSentence(tiles)">{{ 'SENTENCE.GENERATE_SENTENCE' | translate}}</ion-button>
        <ion-button shape="round" (click)="navigateToAddTilePage()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </div>
    </ion-fab>
    <ion-grid class="grid">
      <ion-row *ngIf="getCategory(tiles, 'nouns')">
        <ion-col size="12">
          <h3>{{ 'SENTENCE.NOUNS' | translate}}</h3>
        </ion-col>
        <ion-col sizeXs="4" *ngFor="let tile of tiles" [hidden]="tile.category !== 'nouns'">
          <ion-item color="{{tile.isSelected ? 'success' : 'default'}}" (click)="toggleTileSelection(tile)">
            <ion-label>{{tile.icon}}</ion-label>
            <ion-label>{{ tile.label | translate }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    
      <ion-row *ngIf="getCategory(tiles, 'verbs')">
        <ion-col size="12">
          <h3>{{ 'SENTENCE.VERBS' | translate}}</h3>
        </ion-col>
        <ion-col sizeXs="4" *ngFor="let tile of tiles" [hidden]="tile.category !== 'verbs'">
          <ion-item color="{{tile.isSelected ? 'success' : 'default'}}" (click)="toggleTileSelection(tile)">
            <ion-label>{{tile.icon}}</ion-label>
            <ion-label>{{ tile.label | translate }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    
      <ion-row *ngIf="getCategory(tiles, 'adjectives')">
        <ion-col size="12">
          <h3>{{ 'SENTENCE.ADJECTIVES' | translate}}</h3>
        </ion-col>
        <ion-col sizeXs="4" *ngFor="let tile of tiles" [hidden]="tile.category !== 'adjectives'">
          <ion-item color="{{tile.isSelected ? 'success' : 'default'}}" (click)="toggleTileSelection(tile)">
            <ion-label>{{tile.icon}}</ion-label>
            <ion-label>{{ tile.label | translate }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="getCategory(tiles, 'questions')">
        <ion-col size="12">
          <h3>{{ 'SENTENCE.QUESTIONS' | translate}}</h3>
        </ion-col>
        <ion-col sizeXs="4" *ngFor="let tile of tiles" [hidden]="tile.category !== 'questions'">
          <ion-item color="{{tile.isSelected ? 'success' : 'default'}}" (click)="toggleTileSelection(tile)">
            <ion-label>{{tile.icon}}</ion-label>
            <ion-label>{{ tile.label | translate }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="getCategory(tiles, 'expressions')">
        <ion-col size="12">
          <h3>{{ 'SENTENCE.EXPRESSIONS' | translate}}</h3>
        </ion-col>
        <ion-col sizeXs="4" *ngFor="let tile of tiles" [hidden]="tile.category !== 'expressions'">
          <ion-item color="{{tile.isSelected ? 'success' : 'default'}}" (click)="toggleTileSelection(tile)">
            <ion-label>{{tile.icon}}</ion-label>
            <ion-label>{{ tile.label | translate }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    
    </ion-grid>
}

</ion-content>
