.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}

// .selected-tile {
//     background-color: green !important;
//     color: white !important;
//     border-radius: 10px;
//   }