<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Zbuduj swoje zdanie </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col sizeXs="4" *ngFor="let tile of tiles">
        <ion-item 
          color="{{tile.color}}" 
          (click)="toggleTileSelection(tile)">
          <fa-icon [icon]="['fas', tile.iconName]"></fa-icon>
          <ion-label>{{ tile.label }}</ion-label>
        </ion-item>
      </ion-col> 
    </ion-row>
  </ion-grid>
  
  <ion-button shape="round" (click)="generateSentence()">Generuj zdanie</ion-button>
  
  <div class="button-container">
    <ion-button shape="round" (click)="navigateToAddTilePage()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>

    <ion-button shape="round">Generuj</ion-button>
  </div>


</ion-content>
