<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Zbuduj swoje zdanie </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <ion-grid>
    <ion-row>
      <ion-col sizeXs="4" *ngFor="let tile of wordTiles">
        <ion-item color="{{tile.color}}" (click)="toggleTileSelection(tile)">
          {{tile.label}}
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="grid">
    <div 
      *ngFor="let tile of wordTiles"
      [style.background-color]="tile.color"
      (click)="toggleTileSelection(tile)"
      class="tile"
    >
      {{ tile.label }}
    </div>
  </div>

  <div class="button-container">
    <ion-button shape="round" (click)="addNewTile()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>

    <ion-button shape="round">Generuj</ion-button>
  </div>



</ion-content>

<!-- <ion-item>
  <ion-label>
    <h2>H2 Heading</h2>
    <p>Paragraph</p>
  </ion-label>
</ion-item> -->