<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>add-tile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add-tile</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <ion-list>

      <ion-item>
        <ion-label>Nazwa</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>
      
      <!-- <ion-item>
        <ion-label>Wyszukaj ikonę</ion-label>
        <ion-input (ionInput)="filterIcons($event)" placeholder="Szukaj ikon..."></ion-input>
      </ion-item> -->
      
      <ion-item>
        <ion-label>Wybierz piktogram</ion-label>
        <fa-icon [icon]="['fas', formData.get('icon')?.value || 'coffee']"></fa-icon>
        <ion-select formControlName="icon">
          <ion-select-option *ngFor="let icon of availableIcons" [value]="icon">
            {{ icon }}
          </ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
    <ion-button type="submit" expand="block">Dodaj</ion-button>
  </form>
  <fa-icon [icon]="['fas', 'running']"></fa-icon>
</ion-content>
